@import url(https://fonts.googleapis.com/css?family=PT+Sans:400);
@font-face {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-style: normal; }

html, body, .main, ul {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

header {
  text-align: center;
  z-index: 2;
  position: relative; }
  header a {
    display: inline-block;
    vertical-align: middle;
    text-indent: -5000px;
    width: 110px;
    height: 110px;
    background: url(../img/logo_disko.png) no-repeat;
    background-size: 110px 110px;
    margin-left: -78px;
    margin-right: 23px; }
  header h1 {
    margin: 0;
    padding: 60px 0;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: #090909;
    text-align: left; }
    header h1 span {
      font: 400 20px/12px "PT Sans", sans-serif;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      color: #c9c9c9; }
  header .burger {
    display: none;
    cursor: pointer; }

nav {
  text-align: center;
  height: 44px;
  background-color: #000;
  z-index: 1; }
  nav ul li {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
    nav ul li a {
      text-decoration: none;
      padding: 10px 13px;
      color: #FFF;
      font: 400 20px/22px "PT Sans", sans-serif;
      text-transform: uppercase;
      display: block;
      transition: color .4s; }
      nav ul li a:hover {
        color: #c9c9c9; }
    nav ul li + li::before {
      content: '';
      position: absolute;
      height: 14px;
      width: 1px;
      left: -4px;
      top: 15px;
      background-color: #c9c9c9; }

.main {
  overflow: hidden;
  position: relative; }
  .main ul {
    position: relative;
    width: 300%;
    height: 100%;
    background-color: #F0F; }
    .main ul li {
      position: absolute;
      width: calc( 100% / 3);
      height: 100%;
      background-color: #0FF; }
      .main ul li:nth-of-type(1) {
        background-color: #000;
        background-image: url("../img/red-panda.jpg");
        background-size: cover;
        background-position: right;
        color: #FFF; }
        .main ul li:nth-of-type(1) p {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 15px 15px 50px 15px;
          font-size: 20px;
          line-height: 26px;
          font-family: 'helvetica'; }
      .main ul li:nth-of-type(2) {
        background-color: #aaaaaa; }
      .main ul li:nth-of-type(3) {
        background-color: #FFF;
        color: #000;
        padding: 40px; }
        .main ul li:nth-of-type(3) form {
          width: 300px;
          margin: auto; }
          .main ul li:nth-of-type(3) form .field {
            padding: 20px 0; }
            .main ul li:nth-of-type(3) form .field label {
              display: block;
              margin-bottom: 5px; }
            .main ul li:nth-of-type(3) form .field button {
              line-height: 30px;
              border-radius: 4px;
              box-shadow: 0px 0px 0px 0px #fff;
              border: solid 1px #aaa;
              background-color: #EEE;
              transition: all 0.4s; }
              .main ul li:nth-of-type(3) form .field button:hover {
                background-color: #c9c9c9;
                color: #FFF; }
  .main .slide-to-left, .main .slide-to-right {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #090909;
    opacity: 0.8;
    bottom: 0;
    z-index: 1;
    text-indent: -5000px; }
    .main .slide-to-left::before, .main .slide-to-left::after, .main .slide-to-right::before, .main .slide-to-right::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      background-color: #FFF;
      z-index: 1; }
    .main .slide-to-left::before, .main .slide-to-right::before {
      left: 25px;
      top: 24px; }
    .main .slide-to-left::after, .main .slide-to-right::after {
      left: 25px;
      top: 18px; }
  .main .slide-to-left {
    left: 0; }
    .main .slide-to-left::before {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .main .slide-to-left::after {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  .main .slide-to-right {
    right: 0; }
    .main .slide-to-right::before {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .main .slide-to-right::after {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .main .pedo {
    position: relative;
    bottom: 0; }
    .main .pedo .pedo-say {
      bottom: 140px;
      display: none;
      left: 60px;
      position: absolute;
      width: 150px;
      height: 40px;
      background-color: #FFF;
      border: solid 1px black;
      border-radius: 5px;
      padding: 8px;
      font-size: 18px;
      line-height: 20px; }
      .main .pedo .pedo-say .first-line {
        position: absolute;
        opacity: 0; }
      .main .pedo .pedo-say .second-line {
        position: absolute;
        opacity: 0; }
    .main .pedo .big-pedo {
      position: absolute;
      bottom: -130px;
      left: 50px;
      display: none; }
    .main .pedo .unicorn {
      position: absolute;
      bottom: -250px;
      left: 250px;
      display: none; }

footer .mention {
  padding: 10px 0;
  background-color: #000;
  color: #FFF;
  font-family: 'arial';
  font-size: 10px;
  text-align: center; }

#mon_canvas {
  z-index: 2; }

@media (min-width: 767px) and (max-width: 1024px) {
  header h1 {
    padding: 40px 0;
    font: 400 22px/20px "PT Sans", sans-serif; }
    header h1 span {
      font: 400 20px/12px "PT Sans", sans-serif; }
  nav ul li a {
    font: 400 16px/22px "PT Sans", sans-serif; } }

@media (max-width: 767px) {
  header {
    text-align: left;
    padding: 15px;
    background-color: #FFF; }
    header a {
      text-indent: -5000px;
      width: 55px;
      height: 55px;
      background: url(../img/logo_disko.png) no-repeat;
      background-size: 55px 55px;
      margin-left: 0px;
      margin-right: 0px; }
    header h1 {
      margin: 0 50px 0 0;
      padding: 15px 0;
      font: 400 22px/20px "PT Sans", sans-serif; }
      header h1 span {
        font: 400 16px/12px "PT Sans", sans-serif; }
    header .burger {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      text-indent: -5000px;
      width: 25px;
      height: 30px; }
      header .burger span {
        position: absolute;
        width: 25px;
        height: 4px;
        background-color: #000;
        display: block; }
        header .burger span:nth-of-type(1) {
          top: 0px;
          left: 0; }
        header .burger span:nth-of-type(2) {
          top: 8px;
          left: 0; }
        header .burger span:nth-of-type(3) {
          top: 16px;
          left: 0; }
  .main ul li:nth-of-type(1) p {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 60px; }
  .main ul li:nth-of-type(3) {
    padding: 15px; }
    .main ul li:nth-of-type(3) h2 {
      margin: 0; }
    .main ul li:nth-of-type(3) form .field {
      padding-bottom: 0;
      padding-top: 15px;
      width: calc( 100% - 30px); }
      .main ul li:nth-of-type(3) form .field button {
        margin-left: 140px; }
  nav {
    height: auto;
    position: absolute;
    width: 100%; }
    nav ul li {
      display: inline; }
      nav ul li a {
        font: 400 16px/22px "PT Sans", sans-serif; }
      nav ul li::before {
        display: none; } }

/*# sourceMappingURL=maps/main.css.map */
